.bgImg{
	background-image: url("/Web-Admin/images/login_bg.jpg");
}
.bgImg2{
	background-image: url("/Web-Admin/images/login_bg2.jpg");
}
.bgImg3{
	background-image: url("/Web-Admin/images/login_bg3.jpg");
}
.bgImg4{
	background-image: url("/Web-Admin/images/login_bg4.jpg");
}
.bgImg5{
	background-image: url("/Web-Admin/images/login_bg5.jpg");
}
.bgImg6{
	background-image: url("/Web-Admin/images/login_bg6.jpg");
}
.bgImg7{
	background-image: url("/Web-Admin/images/login_bg7.jpg");
}
.bgImg8{
	background-image: url("/Web-Admin/images/aixin.jpg");
}
.bgImg9{
	background-image: url("/Web-Admin/images/ali.jpg");
}
.bgImg10{
	background-image: url("/Web-Admin/images/iloveyou.jpg");
}
.bgImg11{
	background-image: url("/Web-Admin/images/jianyue.jpg");
}
.bgImg12{
	background-image: url("/Web-Admin/images/lanqiu.jpg");
}
.bgImg13{
	background-image: url("/Web-Admin/images/liumangtu.jpg");
}
.bgImg14{
	background-image: url("/Web-Admin/images/caoyuan.jpg");
}
.bgImg15{
	background-image: url("/Web-Admin/images/fengjing.jpg");
}
.bgImg16{
	background-image: url("/Web-Admin/images/gaosu.jpg");
}
.bgImg17{
	background-image: url("/Web-Admin/images/huanghun.jpg");
}
.bgImg18{
	background-image: url("/Web-Admin/images/huoche.jpg");
}
.bgImg19{
	background-image: url("/Web-Admin/images/shuimofengjing.jpg");
}
.bgImg20{
	background-image: url("/Web-Admin/images/shuimojiangnan.jpg");
}
.bgImg21{
	background-image: url("/Web-Admin/images/yunhai.jpg");
}
.bgImg22{
	background-image: url("/Web-Admin/images/anheipohuaishen.jpg");
}
.bgImg23{
	background-image: url("/Web-Admin/images/fengbaoyinxiong.jpg");
}
.bgImg24{
	background-image: url("/Web-Admin/images/lushi.jpg");
}
.bgImg25{
	background-image: url("/Web-Admin/images/moshou.jpg");
}
.bgImg26{
	background-image: url("/Web-Admin/images/paopaobing.jpg");
}
.bgImg27{
	background-image: url("/Web-Admin/images/xiaoyangxiaoen.jpg");
}
.bgImg28{
	background-image: url("/Web-Admin/images/xinji.jpg");
}
.bgImg29{
	background-image: url("/Web-Admin/images/xinjimihang.jpg");
}
#chbg{
	height: 30px;
}
#selectStyle{
	float: right;
	display:block;
    margin:0 auto;
    overflow:hidden;
    height:30px;
    width:180px;
    border-radius:0;
    background:#535353 url("箭头图片地址") right center no-repeat;
    background-size:auto 80%;
    color:#fff;
    line-height:2;
    /* 如果不想加图片，
       则可以设置一个自己的三角形样式，
       如下的自定义方式，
       见代码1 */
    position:relative;
    z-index:1;
}
/* 代码1 */
#selectStyle:before{
    position:absolute;
    z-index:1;
    top:50%;
    right:10px;
    margin-top:-2.5px;
    display:block;
    width:0;
    height:0;
    border-style:solid;
    border-width:5px 5px 0 5px;
    border-color:#fff transparent transparent transparent;
    content:"";
}
/* 代码1 */
#selectStyle:after{
    position:absolute;
    z-index:1;
    top:50%;
    right:10px;
    margin-top:-3.5px;
    display:block;
    width:0;
    height:0;
    border-style:solid;
    border-width:5px 5px 0 5px;
    border-color:#535353 transparent transparent transparent;
    content:"";
}
select {
  	display:block;
    width:100%;
    box-sizing:border-box;
    background:none;
    border:1px solid #222;
    outline:none;
    -webkit-appearance:none;
    padding:0 5px;
    line-height:inherit;
    color:inherit;
    cursor:default;
    font-size:14px;
    position:relative;
    z-index:3;
}
select option{
    color:#222;
}
select option:hover{
    color:#fff;
}
select option:checked{
    background:#535353;
    color:#fff; 
}
select optgroup{
	color:black;
}